@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}

body {
  @apply scrollbar-hide;
}

select {
  @apply outline-gray-300;
}

input {
  @apply border-0 outline-none;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  cursor: pointer;
}
