<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pintalk.erp.mapper.ErpMapper">

    <select id="erpMemberList" resultType="ErpMember">
        SELECT ROWNUM AS RNUM
             , A.NO
             , A.ID
             , A.NAME
             , A.SSN
             , A.PHONE1
             , A.PHONE2
             , A.PHONE3
             , A.EMAIL
             , A.GENDER
             , A.ADDRESS1
             , A.ADDRESS2
             , A.JOB_KEY
             , A.ERP_LEVEL
             , TO_DATE(TO_CHAR(A.REG_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS REG_DATE
             , TO_DATE(TO_CHAR(A.UPDATE_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS UPDATE_DATE
             , A.USER_NO
             , A.STATUS
             , A.SAVE_STATUS
             , A.CONTRACT_NO
             , A.PASSWORD
         FROM ERP_MEMBER_INFO A
        WHERE 1=1
          AND A.SAVE_STATUS = 'Y'
    </select>

    <select id="erpMemberOneList" resultType="HashMap" parameterType="ErpMember">
        SELECT NO
              ,ID
              ,NAME
              ,SSN
              ,PHONE1
              ,PHONE2
              ,PHONE3
              ,EMAIL
              ,GENDER
              ,ADDRESS1
              ,ADDRESS2
              ,JOB_KEY
              ,ERP_LEVEL
              ,TO_DATE(TO_CHAR(REG_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS REG_DATE
              ,TO_DATE(TO_CHAR(UPDATE_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS UPDATE_DATE
              ,USER_NO
              ,STATUS
              ,SAVE_STATUS
              ,CONTRACT_NO
              ,PASSWORD
        FROM ERP_MEMBER_INFO
        WHERE 1=1
          AND SAVE_STATUS = 'Y'
        <if test="no != null">
          AND NO = #{no}
        </if>
        <if test="id != null">
            AND ID LIKE '%'||#{id}||'%'
        </if>
        <if test="name != null">
            AND NAME LIKE '%'||#{name}||'%'
        </if>
        <if test="ssn != null">
            AND SSN LIKE '%'||#{ssn}||'%'
        </if>
        <if test="phone1 != null">
            AND PHONE1 LIKE '%'||#{phone1}||'%'
        </if>
        <if test="phone2 != null">
            AND PHONE2 LIKE '%'||#{phone2}||'%'
        </if>
        <if test="phone3 != null">
            AND PHONE3 LIKE '%'||#{phone3}||'%'
        </if>
        <if test="email != null">
            AND EMAIL LIKE '%'||#{email}||'%'
        </if>
        <if test="gender != null">
            AND GENDER = #{gender}
        </if>
        <if test="erp_level != null">
            AND ERP_LEVEL = #{erp_level}
        </if>
        <if test="reg_date != null">
            AND REG_DATE LIKE '%'||#{reg_date}||'%'
        </if>
        <if test="update_date != null">
            AND UPDATE_DATE LIKE '%'||#{update_date}||'%'
        </if>
        <if test="user_no != null">
            AND USER_NO = #{user_no}
        </if>
        <if test="contract_no != null">
            AND CONTRACT_NO = #{contract_no}
        </if>
    </select>



<!--    <insert id="upsMemberInsert" parameterType="UpsMember">-->
<!--        INSERT INTO UPS_MEMBER_INFO-->
<!--        VALUES-->
<!--    </insert>-->



<!--    <update id="upsModify" parameterType="UpsMember">-->
<!--        UPDATE UPS_MEMBER_INFO-->
<!--           SET UPDATE_DATE = SYSDATE()-->
<!--        <if test="password != null">-->
<!--            , PASSWORD = #{password}-->
<!--        </if>-->
<!--        <if test="name != null">-->
<!--            , NAME = #{name}-->
<!--        </if>-->
<!--        <if test="type != null">-->
<!--            , TYPE = #{type}-->
<!--        </if>-->
<!--        <if test="phone1 != null">-->
<!--            , PHONE1 = #{phone1}-->
<!--        </if>-->
<!--        <if test="phone2 != null">-->
<!--            , PHONE2 = #{phone2}-->
<!--        </if>-->
<!--        <if test="phone3 != null">-->
<!--            , PHONE3 = #{phone3}-->
<!--        </if>-->
<!--        <if test="email != null">-->
<!--            , EMAIL = #{email}-->
<!--        </if>-->
<!--        <if test="gender != null">-->
<!--            , GENDER = #{gender}-->
<!--        </if>-->
<!--        <if test="address1 != null">-->
<!--            , ADDRESS1 = #{address1}-->
<!--        </if>-->
<!--        <if test="address2 != null">-->
<!--            , ADDRESS2 = #{address2}-->
<!--        </if>-->
<!--        <if test="job_key != null">-->
<!--            , JOB_KEY = #{job_key}-->
<!--        </if>-->
<!--        <if test="status != null">-->
<!--            , STATUS = #{status}-->
<!--        </if>-->
<!--        WHERE 1=1-->
<!--           AND NO = #{no}-->
<!--    </update>-->

<!--    <update id="upsDelete" parameterType="UpsMember">-->
<!--        UPDATE UPS_MEMBER_INFO-->
<!--        SET STATUS ='N'-->
<!--        WHERE 1=1-->
<!--          AND NO = #{no}-->
<!--    </update>-->

</mapper>