<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pintalk.erp.mapper.ErpMapper">

    <select id="erpMemberList" resultType="ErpMember">
        SELECT *
          FROM ERP_MEMBER_INFO
         WHERE 1=1
           AND STATUS = 'Y'
      ORDER BY NO DESC
    </select>

    <select id="erpMemberOneList" resultType="ErpMember" parameterType="ErpMember">
        SELECT *
        FROM ERP_MEMBER_INFO
        WHERE 1=1
          AND STATUS = 'Y'
        <if test="no != null">
          AND NO = #{no}
        </if>
        <if test="id != null">
            AND ID LIKE '%'||#{id}||'%'
        </if>
        <if test="name != null">
            AND NAME LIKE '%'||#{name}||'%'
        </if>
        <if test="ssn != null">
            AND SSN LIKE '%'||#{ssn}||'%'
        </if>
        <if test="phone1 != null">
            AND PHONE1 LIKE '%'||#{phone1}||'%'
        </if>
        <if test="phone2 != null">
            AND PHONE2 LIKE '%'||#{phone2}||'%'
        </if>
        <if test="phone3 != null">
            AND PHONE3 LIKE '%'||#{phone3}||'%'
        </if>
        <if test="email != null">
            AND EMAIL LIKE '%'||#{email}||'%'
        </if>
        <if test="gender != null">
            AND GENDER = #{gender}
        </if>
        <if test="erp_level != null">
            AND ERP_LEVEL = #{erp_level}
        </if>
        <if test="reg_date != null">
            AND REG_DATE LIKE '%'||#{reg_date}||'%'
        </if>
        <if test="update_date != null">
            AND UPDATE_DATE LIKE '%'||#{update_date}||'%'
        </if>
        <if test="user_no != null">
            AND USER_NO = #{user_no}
        </if>
        <if test="contract_no != null">
            AND CONTRACT_NO = #{contract_no}
        </if>
    </select>



<!--    <insert id="upsMemberInsert" parameterType="UpsMember">-->
<!--        INSERT INTO UPS_MEMBER_INFO-->
<!--        VALUES-->
<!--    </insert>-->



<!--    <update id="upsModify" parameterType="UpsMember">-->
<!--        UPDATE UPS_MEMBER_INFO-->
<!--           SET UPDATE_DATE = SYSDATE()-->
<!--        <if test="password != null">-->
<!--            , PASSWORD = #{password}-->
<!--        </if>-->
<!--        <if test="name != null">-->
<!--            , NAME = #{name}-->
<!--        </if>-->
<!--        <if test="type != null">-->
<!--            , TYPE = #{type}-->
<!--        </if>-->
<!--        <if test="phone1 != null">-->
<!--            , PHONE1 = #{phone1}-->
<!--        </if>-->
<!--        <if test="phone2 != null">-->
<!--            , PHONE2 = #{phone2}-->
<!--        </if>-->
<!--        <if test="phone3 != null">-->
<!--            , PHONE3 = #{phone3}-->
<!--        </if>-->
<!--        <if test="email != null">-->
<!--            , EMAIL = #{email}-->
<!--        </if>-->
<!--        <if test="gender != null">-->
<!--            , GENDER = #{gender}-->
<!--        </if>-->
<!--        <if test="address1 != null">-->
<!--            , ADDRESS1 = #{address1}-->
<!--        </if>-->
<!--        <if test="address2 != null">-->
<!--            , ADDRESS2 = #{address2}-->
<!--        </if>-->
<!--        <if test="job_key != null">-->
<!--            , JOB_KEY = #{job_key}-->
<!--        </if>-->
<!--        <if test="status != null">-->
<!--            , STATUS = #{status}-->
<!--        </if>-->
<!--        WHERE 1=1-->
<!--           AND NO = #{no}-->
<!--    </update>-->

<!--    <update id="upsDelete" parameterType="UpsMember">-->
<!--        UPDATE UPS_MEMBER_INFO-->
<!--        SET STATUS ='N'-->
<!--        WHERE 1=1-->
<!--          AND NO = #{no}-->
<!--    </update>-->

</mapper>