<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pintalk.ups.mapper.UpsMapper">

    <select id="getUpsMemberSeq" resultType="int">
        SELECT UPSMEMBER_SEQ.NEXTVAL
        FROM DUAL
    </select>

    <select id="upsMemberList" resultType="UpsMember">
        SELECT NO
              ,ID
              ,NAME
              ,SSN
              ,PHONE1
              ,PHONE2
              ,PHONE3
              ,EMAIL
              ,GENDER
              ,ADDRESS1
              ,ADDRESS2
              ,JOB_KEY
              ,TO_DATE(TO_CHAR(REG_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS REG_DATE
              ,TO_DATE(TO_CHAR(UPDATE_DATE,'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS') AS UPDATE_DATE
              ,USER_NO
              ,STATUS
              ,CONTRACT_NO
              ,PASSWORD
          FROM UPS_MEMBER_INFO
         WHERE 1=1
           AND STATUS = 'Y'
    </select>

    <insert id="upsMemberInsert"  parameterType="HashMap">
        INSERT INTO UPS_MEMBER_INFO(NO,ID,NAME,SSN,PHONE1,PHONE2,PHONE3,GENDER,REG_DATE,UPDATE_DATE,USER_NO,STATUS,PASSWORD
        <if test="email != null">
            , EMAIL
        </if>
        <if test="address1 != null">
            , ADDRESS1
        </if>
        <if test="address2 != null">
            , ADDRESS2
        </if>
        <if test="job_key != null">
            , JOB_KEY
        </if>
        )
        VALUES (
        #{ups_no}
        ,#{id}
        ,#{name}
        ,#{ssn}
        ,#{phone1}
        ,#{phone2}
        ,#{phone3}
        ,#{gender}
        ,SYSDATE
        ,SYSDATE
        ,#{user_no}
        ,'Y'
        ,#{password}
        <if test="email != null">
            , #{email}
        </if>
        <if test="address1 != null">
            , #{address1}
        </if>
        <if test="address2 != null">
            , #{address2}
        </if>
        <if test="job_key != null">
            , #{job_key}
        </if>
        )

    </insert>
<!--    <update id="upsModify" parameterType="UpsMember">-->
<!--        UPDATE UPS_MEMBER_INFO-->
<!--           SET UPDATE_DATE = SYSDATE()-->
<!--        <if test="password != null">-->
<!--            , PASSWORD = #{password}-->
<!--        </if>-->
<!--        <if test="name != null">-->
<!--            , NAME = #{name}-->
<!--        </if>-->
<!--        <if test="type != null">-->
<!--            , TYPE = #{type}-->
<!--        </if>-->
<!--        <if test="phone1 != null">-->
<!--            , PHONE1 = #{phone1}-->
<!--        </if>-->
<!--        <if test="phone2 != null">-->
<!--            , PHONE2 = #{phone2}-->
<!--        </if>-->
<!--        <if test="phone3 != null">-->
<!--            , PHONE3 = #{phone3}-->
<!--        </if>-->
<!--        <if test="email != null">-->
<!--            , EMAIL = #{email}-->
<!--        </if>-->
<!--        <if test="gender != null">-->
<!--            , GENDER = #{gender}-->
<!--        </if>-->
<!--        <if test="address1 != null">-->
<!--            , ADDRESS1 = #{address1}-->
<!--        </if>-->
<!--        <if test="address2 != null">-->
<!--            , ADDRESS2 = #{address2}-->
<!--        </if>-->
<!--        <if test="job_key != null">-->
<!--            , JOB_KEY = #{job_key}-->
<!--        </if>-->
<!--        <if test="status != null">-->
<!--            , STATUS = #{status}-->
<!--        </if>-->
<!--        WHERE 1=1-->
<!--           AND NO = #{no}-->
<!--    </update>-->

<!--    <update id="upsDelete" parameterType="UpsMember">-->
<!--        UPDATE UPS_MEMBER_INFO-->
<!--        SET STATUS ='N'-->
<!--        WHERE 1=1-->
<!--          AND NO = #{no}-->
<!--    </update>-->

</mapper>